/* style to manage the :hover effects on the cards equipements */

.equipment {
    transition: all 0.3s ease-in-out;
}

.equipment:hover {
    background-color: #1b294c;
    transform: scale(1.02);
}

.equipment button:hover {
    background-color: rgb(248, 54, 54);
}