/* style to manage the :hover effects on the cards equipements */
.equipment {
    /* background-color: #1b294c; */

}

.equipment,
button {
    transition: all 0.3s ease-in-out;
}

.equipment:hover {
    background-color: #283d70;
    animation: borderLight 2s linear infinite;
    transform: scale(1.02);
}

.equipment button:hover {
    background-color: rgb(139, 20, 81);
}


/* ---- animazione --------- */



/* animation applied principaly to the borders of the elements */
@keyframes borderLight {
    0% {
        box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
    }

    25% {
        box-shadow: rgba(255, 255, 255, 0.3) 0 0 15px 7px;
    }

    50% {
        box-shadow: rgba(146, 206, 255, 0.5) 0 0 23px 10px;
    }

    75% {
        box-shadow: rgba(255, 255, 255, 0.3) 0 0 15px 7px;
    }

    100% {
        box-shadow: rgba(255, 255, 255, 0) 0 0 0 0;
    }
}