/* style to manage the :hover effects on the cards equipements */
.equipment {
    /* background-color: #1b294c; */

}

.equipment,
button {
    transition: all 0.3s ease-in-out;
}

.equipment:hover {
    background-color: #283d70;
    animation: borderLight 2s linear infinite;
    transform: scale(1.02);
}

.equipment button:hover {
    background-color: rgb(139, 20, 81);
}